@model IEnumerable<Domain.Entities.Item>
@{

    ViewBag.Title = "";
}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../../Content/img/bga.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="brand">
                    <h1 class="title">Marry Me!</h1>
                    <h4>Your One-stop online store for everything you need to make your wedding <strong>Perfect</strong></h4>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="main main-raised">
    <div class="section">
        <div class="container">
            <h2 class="section-title" style="text-align:center">Latest Offers</h2>
            <div class="row">
                @foreach (var item in Model)
    {
            <div class="col-md-4 delete ">
                <div class="card card-product card-plain card-deck ">
                    <div class="card-image">
                        <a>
                            @{ 
                                var base64 = Convert.ToBase64String(item.Image);
                                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                            }

                            <img src="@imgsrc" alt="image is currently unavailable" class="img-responsive img-rounded" />
                          
                        </a>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">
                            @item.ItemName
                        </h4>
                        <p class="card-description">@item.Description</p>
                        <div class="footer">
                            <div class="price-container">

                                <span class="price price-new"> ₦@item.Price</span>
                            </div>
                            <div class="stats">
                                <button class="js-delete btn btn-rose btn-round" data-staff-id="@item.ID">Delete</button>
                                <a href="#" class="btn btn-rose btn-round">
                                    Buy Now
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
}

            </div>

        </div>



        <div class="col-md-3 col-md-offset-4" >
            <button rel="tooltip" class="btn btn-rose btn-round">Load more...</button>
        </div>
    </div><!-- section -->
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-delete").click(function (e) {
                var link = $(e.target);







                if (confirm("are you sure")) {
                    $.ajax({
                        url: "/api/delete/" + link.attr("data-staff-id"),
                        method: "DELETE"
                    })
                        .done(function () {
                            link.parents("div.delete").fadeOut(function () {
                                $(this).remove();
                            });
                        })
                        .fail(function () {
                            alert("something failed");
                        });
                }

            });

        });
    </script>


}









