@{

    ViewBag.Title = "";
}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../../Content/img/bga.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="brand">
                    <h1 class="title">Marry Me!</h1>
                    <h4>Your One-stop online store for everything you need to make your wedding <strong>Perfect</strong></h4>
                </div>
            </div>
        </div>
    </div>
</div>



{
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <h2 class="section-title">Latest Offers</h2>
                <div class="row">
                    <div class="col-md-4">

                        @foreach (var item in ViewBag.content)

    {
                    <div class="card card-product card-plain">
                        <div class="card-image">
                            <a href="#pablo">
                                <img src="@Url.Content(@item.ImageUrl)" alt="image is currently unavailable" />
                            </a>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">
                                @item.ItemName
                            </h4>
                            <p class="card-description">@item.Description</p>
                            <div class="footer">
                                <div class="price-container">

                                    <span class="price price-new"> ₦@item.Price</span>
                                </div>
                                <div class="stats">

                                    <a href="#" class="btn btn-rose btn-round">
                                        Buy Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
}




                    </div>
                    @*<div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img src="~/Content/img/suit-3.jpg" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Dolce & Gabbana
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="footer">
                                    <div class="price-container">

                                        <span class="price price-new">&euro;743</span>
                                    </div>
                                    <div class="stats">

                                        <a href="#" class="btn btn-rose btn-round">
                                            Buy Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img src="~/Content/img/suit-6.jpg" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Dolce & Gabbana
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="footer">
                                    <div class="price-container">

                                        <span class="price price-new">&euro;743</span>
                                    </div>
                                    <div class="stats">

                                        <a href="#" class="btn btn-rose btn-round">
                                            Buy Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>

                @*<div class="row">
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img src="~/Content/img/ring1.jpeg" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Gucci
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="footer">
                                    <div class="price-container">

                                        <span class="price price-new"> &euro;743</span>
                                    </div>
                                    <div class="stats">

                                        <a href="#" class="btn btn-rose btn-round">
                                            Buy Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img src="~/Content/img/ring2.jpeg" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Dolce & Gabbana
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="footer">
                                    <div class="price-container">

                                        <span class="price price-new">&euro;743</span>
                                    </div>
                                    <div class="stats">

                                        <a href="#" class="btn btn-rose btn-round">
                                            Buy Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img src="~/Content/img/ring3.jpeg" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Dolce & Gabbana
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="footer">
                                    <div class="price-container">

                                        <span class="price price-new">&euro;743</span>
                                    </div>
                                    <div class="stats">

                                        <a href="#" class="btn btn-rose btn-round">
                                            Buy Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img src="~/Content/img/dress3.jpg" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Gucci
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="footer">
                                    <div class="price-container">

                                        <span class="price price-new"> &euro;743</span>
                                    </div>
                                    <div class="stats">

                                        <a href="#" class="btn btn-rose btn-round">
                                            Buy Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img src="~/Content/img/dress1.jpg" />
                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Dolce & Gabbana
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="footer">
                                    <div class="price-container">

                                        <span class="price price-new">&euro;743</span>
                                    </div>
                                    <div class="stats">

                                        <a href="#" class="btn btn-rose btn-round">
                                            Buy Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-product card-plain">
                            <div class="card-image">
                                <a href="#pablo">

                                    <img src="~/Content/img/dressB.jpeg" />

                                </a>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">
                                    Dolce & Gabbana
                                </h4>
                                <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
                                <div class="footer">
                                    <div class="price-container">

                                        <span class="price price-new">&euro;743</span>
                                    </div>
                                    <div class="stats">

                                        <a href="#" class="btn btn-rose btn-round">
                                            Buy Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>



            <div class="col-md-3 col-md-offset-4">
                <button rel="tooltip" class="btn btn-rose btn-round">Load more...</button>
            </div>
        </div><!-- section -->





    </div>


}








